.App {
  text-align: center;

}
.App-header{
  text-align: center;
  padding: 20px;
  background-color:darkslateblue;
  color: azure;
}
.App-body{
  margin-top: 100px;
  text-align: center;
  padding: 50px;
  color: darkslateblue;
  background-color: azure;
}

